
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/encodings.xml
.idea/dictionaries/agvolkov5.xml
.idea/bigpicker.iml
yuicompressor-2.4.8.jar
optimized/
optimized/*
